@model WebAppSunday16thJulyEIDU.Models.Employee
@{
    ViewBag.Title = "Check";
}

<h2>Check</h2>

<h2>Home Check</h2>
<div style="color:purple;font-size:40px">
    <table>
        <tr>
            <td>@Model.eId</td>
            <td>@Model.eName</td>
            <td>@Model.eAddress</td>
            <td>@Model.eSalary</td>
        </tr>
    </table>
</div>