@{ 
    List<String> pics = new List<string>
    {
        "~/Content.download.jpeg",
        "~/Content.download (1).jpeg",
        "~/Content.images.jpeg",
        "~/Content.images (1).jpeg"
    };


<div>
        @foreach (var item in pics)
            {
                <img src="@Url.Content(item)" width="100" height="100"/>
            }
    </div>
}
