@model Search13thJuly.Models.Employee
@{
    ViewBag.Title = "Check";
}
<h2>Default Check</h2>
<div style="color:purple;font-size:40px">
    @Model.eName
    @Model.eAddress
    @Model.eSalary
</div>
    

